header {
  min-height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  & .logo a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
  }
  & nav {
    display: flex;
    align-items: center;
    ul {
      list-style-type: disc;
      margin-block-start: 0em;
      margin-block-end: 0em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 0px;
    }
    ul li {
      list-style: none;
      display: inline-block;
      a {
        text-decoration: none;
        text-transform: uppercase;
        color: #555;
        padding: 0 15px;
        &:hover {
          color: lightseagreen;
        }
      }
    }
    & .nav-cart {
      cursor: pointer;
      position: relative;
      & span {
        position: absolute;
        top: -12px;
        right: -7px;
        background: crimson;
        font-size: 10px;
        color: white;
        padding: 3px 5px;
        border-radius: 50%;
        z-index: 10;
      }
    }
  }
  & .menu,
  & .close {
    cursor: pointer;
    display: none;
  }
}

@media (max-width: 650px) {
  header ul {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background: white;
    z-index: 99;
    opacity: 0.97;
    transition: 0.5s linear;
  }
  header .menu,
  header .close {
    display: block;
  }
  header .close {
    z-index: 10;
    position: absolute;
    top: 10px;
    right: 20px;
  }
  header ul.toogle {
    top: 0;
  }
}
